<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render "users/user", user: @user %>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6 offset-md-3">
    <%= render "users/profile_nav", user: @user %>
  </div>
</div>

<% if @liked_photos_private %>
  <p class="text-center">This user's liked photos are private.</p>
<% else %>
  <% @liked_photos.each do |photo| %>
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <%= render "photos/photo", photo: photo %>
      </div>
    </div>
  <% end %>
<% end %>
